* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}


#parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 23, 23);
    height: 80px;
}

#child1 {
    margin: 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    color: rgb(255, 60, 60);

}

#child2 {
    display: flex;
    gap: 20px;
    margin: 20px;
    background-color: rgb(36, 126, 104);

}

a {
    text-decoration: none;
    color: rgb(40, 4, 4);

}


#parent2 {
    display: flex;
    justify-content: space-between;
}

#c1 {
    font-size: 40px;
    padding: 50PX;
    padding-top: 80px;
}

#pic {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    padding: 30px;

}

#c3 {
    font-size: 25px;
    padding: 50px;
    padding-left: 5px;
}

#magic {
    animation-name: box1;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes box1 {
    0% {
        color: red;
    }

    25% {
        color: orange;
    }

    50% {
        color: blue;
    }

    75% {
        color: green;
    }

    100% {
        color: red;
    }
}

#ab {
    font-size: xx-large;
    padding-top: 0%;
}

#abc {
    padding: 30px;
    padding-bottom: 10px;
}

#bb {
    font-size: xx-large;
    padding: 30px;
}

#s1 {
    border: 2px solid blue;
    border-radius: 15%;
    height: 70px;
    width: 300px;
    text-align: center;
    background-color: blue;
    color: white;
    padding: bottom 15px;

}

#s2 {
    border: 2px solid blue;
    border-radius: 15%;
    height: 70px;
    width: 300px;
    text-align: center;
    background-color: blue;
    color: white;
    padding: bottom 15px;
}

#s3 {
    border: 2px solid blue;
    border-radius: 15%;
    height: 70px;
    width: 300px;
    text-align: center;
    background-color: blue;
    color: white;
    padding: bottom 15px;
}

#sk {
    display: flex;
    justify-content: space-around;
}

.h:hover {
    box-shadow: magenta 3px 3px 30px;
    scale: 0.95;
    transition: 0.5s;

}

#cc {
    padding: 30px;

}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

.pr {
    border: 2px solid black;
    height: 400px;
    width: 800px;
    border-radius: 5%;
}

#i1 {
    margin-bottom: 50px;
    box-shadow: black 1px 1px 10px;
    animation-name: boxx;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes boxx {
    0% {
        box-shadow: black 1px 1px 10px;
        background-image: url(preview.avif);
    }

    50% {
        box-shadow: black 1px 1px 20px;
        background-image: url(image-28.webp);
    }

    100% {
        box-shadow: black 1px 1px 10px;
        background-image: url(01.avif);
    }
}

#i2 {
    box-shadow: black 1px 1px 10px;
    animation-name: box;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes box {
    0% {
        box-shadow: black 1px 1px 10px;
        background-image: url(01.avif);
    }

    50% {
        box-shadow: black 1px 1px 20px;
        background-image: url(i.webp);
    }

    100% {
        box-shadow: black 1px 1px 10px;
        background-image: url(image-28.webp);
    }
}


h1 {
    padding: 20px;
}

#f {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border: 2px solid white;
    box-shadow: black 1px 1px 10px;
    width: 250px;
    height: 300px;
    border-radius: 3%;
    align-items: center;
    position: relative;
    left: 640px;
}

#btn {
    border: 2px solid black;
    height: 30px;
    width: 200px;
    border-radius: 3%;
    background-color: blue;
    color: white;

}

textarea {
    width: 200px;
    height: 70px;
}

input {
    width: 200px;
}

#foot {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

#btnn {
    border: 2px solid black;
    height: 35px;
    width: 90px;
    border-radius: 5%;
    background-color: blue;
    color: white;
    font-size: small;

    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* for mobile */
@media(max-width:500px) {
    * {
        margin: 0%;
        padding: 0px;
        box-sizing: border-box;
    }


    #parent {
        background-color: blue;
        height: 50px;
        width: auto;
    }

    #child1 {
        margin: 2px;
        color: white;
        font-size: 4.5px;
        padding: 0;

    }

    #child2 {

        gap: px;
        margin: 5px;
        background-color: blue;

    }

    a {
        text-decoration: none;
        color: white;

    }

    #c1 {
        font-size: 20px;
        padding: 50PX;
        padding-top: 80px;
        position: relative;
        top: 180px;
    }

    #pic {
        height: 320px;
        width: 320px;
        border-radius: 50%;
        padding: 30px;
        position: relative;
        right: 250px;
        bottom: 25px;


    }
    

    #c3 {
        font-size: 15px;
        padding: 50px;
        padding-left: 5px;
        position: relative;
        bottom:60px;
    }

    #magic {
        animation-name: box1;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        font-size: 20px;
        
    }

    @keyframes box1 {
        0% {
            color: red;
        }

        25% {
            color: orange;
        }

        50% {
            color: blue;
        }

        75% {
            color: green;
        }

        100% {
            color: red;
        }
    }

    #ab {
        font-size: xx-large;
        padding: 0%;
        position: relative;
        top: 1px;
    }

    p {
        position: relative;
        font-size: medium;
        padding-bottom: 20px;
    }

    #abc {
        padding: 30px;
        padding-bottom: 10px;
    }

    #bb {
        font-size: xx-large;
        padding: 30px;
        position: relative;
        top: 20px;
    }

    #s1 {
        border: 2px solid blue; 
        border-radius: 15%;
        height: 70px;
        width: 100px;
        text-align: center; 
        background-color: blue; 
        color: white; 
        padding-top: 25px;
    }
    #s2 {
        border: 2px solid blue;
        border-radius: 15%;
        height: 70px;
        width: 100px;
        text-align: center;
        background-color: blue;
        color: white;
        padding-top: 25px;
    }

    #s3 {
        border: 2px solid blue;
        border-radius: 15%;
        height: 70px;
        width: 150px;
        text-align: center;
        background-color: blue;
        color: white;
        padding-top: 25px;
    }
    .skill{
        position: relative;
        bottom: 10px;
    }

    .oo {
        font-size: 10px;
        color: white;
        padding-bottom: 5px;
    }

    #sk {
        display: flex;
        justify-content: space-around;
        gap: 5px;
    }

    .h:hover {
        box-shadow: red 3px 3px 30px;
        scale: 0.95;
        transition: 0.5s;

    }

    #cc {
        padding: 30px;

    }

    #projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        ;
    }

    .pr {
        border: 2px solid black;
        height: 200px;
        width: 350px;
        border-radius: 5%;
    }

    #i1 {
        margin-bottom: 50px;
        box-shadow: black 1px 1px 10px;
        animation-name: boxx;
        animation-duration: 15s;
        animation-iteration-count: infinite;
    }

    @keyframes boxx {
        0% {
            box-shadow: black 1px 1px 10px;
            background-image: url(preview.avif);
        }

        50% {
            box-shadow: black 1px 1px 20px;
            background-image: url(image-28.webp);
        }

        100% {
            box-shadow: black 1px 1px 10px;
            background-image: url(01.avif);
        }
    }

    #i2 {
        box-shadow: black 1px 1px 10px;
        animation-name: box;
        animation-duration: 15s;
        animation-iteration-count: infinite;
    }

    @keyframes box {
        0% {
            box-shadow: black 1px 1px 10px;
            background-image: url(01.avif);
        }

        50% {
            box-shadow: black 1px 1px 20px;
            background-image: url(i.webp);
        }

        100% {
            box-shadow: black 1px 1px 10px;
            background-image: url(image-28.webp);
        }
    }


    h1 {
        padding: 20px;
    }

    #f {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        border: 2px solid white;
        box-shadow: black 1px 1px 10px;
        width: 300px;
        height: 300px;
        border-radius: 3%;
        align-items: center;
        left: 32px;
        margin-left: 40px;
    }

    #btn {
        border: 2px solid black;
        height: 30px;
        width: 200px;
        border-radius: 3%;
        background-color: blue;
        color: white;

    }

    textarea {
        width: 200px;
        height: 70px;
    }

    input {
        width: 200px;
    }

    #foot {
        background-color: blue;
        color: white;

        margin-top: 50px;
        margin-bottom: 0px;
        font-size: 10px;
        text-align: center;
    }
    #btnn {
        border: 2px solid black;
        height: 35px;
        width: 90px;
        border-radius: 5%;
        background-color: blue;
        color: white;
        font-size: small;

        position: fixed;
        bottom: 20px;
        right: 20px;

    }
}